.gridcontainer {
   position: absolute;
   top: 12em;
   left: 0;
   border: solid 2px #696969;
   display: grid;
   grid-template-columns: 4.6em 4.6em 4.6em;
   grid-template-rows: 2.8em 2.8em 2.8em 2.8em;
}